.modal-content {
  padding: 20px;
  text-align: center;
}

.qr-section {
  margin: 20px 0;

  img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }


}


.form-container {
  text-align: center;
  padding: 1rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #3c3c3c;
  }

  ion-item {
    margin-bottom: 1rem;
  }

  .qr-section {
    margin: 2rem 0;

    h3 {
      font-size: 1.2rem;
      color: #3c3c3c;
      margin-bottom: 1rem;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      border: 2px solid #d4d4d4;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

   .file-upload {
     margin: 2rem 0;

     h3 {
       font-size: 1.2rem;
       color: #3c3c3c;
       margin-bottom: 0.5rem;
     }

     input[type='file'] {
       border: 1px solid #d4d4d4;
       padding: 0.5rem;
       border-radius: 5px;
       width: 100%;
       font-size: 1rem;
     }
   }

  ion-button {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: center;
}


.invoice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out;

  .invoice-card {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.6s ease-in-out;

    .invoice-title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      color: #4caf50;
      margin-bottom: 10px;
    }

    .invoice-info {
      margin: 10px 0;

      p {
        margin: 5px 0;
        font-size: 1rem;
        color: #333333;

        strong {
          font-weight: bold;
          color: #4caf50;
        }
      }

      .completed {
        color: #4caf50;
        font-weight: bold;
      }

      .pending {
        color: #ff9800;
        font-weight: bold;
      }
    }

    .qr-section {
      text-align: center;
      margin-top: 20px;

      img {
        width: 150px;
        height: 150px;
        border: 2px solid #cccccc;
        border-radius: 10px;
        object-fit: contain;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      h3 {
        font-size: 1.2rem;
        margin-top: 10px;
        color: #333333;
      }
    }
  }

  .actions {
    margin-top: 20px;

    ion-button {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
