ion-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

ion-card:hover {
  transform: scale(1.05);
}

ion-img {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}
