ion-content {
  --background: #f4f5f8;
  /* Fondo suave y limpio */
}

.hero-section {
  text-align: center;
  background: linear-gradient(to bottom, #4a90e2, #007aff);
  color: #fff;
  padding: 40px 20px;
}

.hero-section h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-section ion-button {
  --background: #ff9500;
  --border-radius: 8px;
}

.categories-section {
  padding: 20px;
}

ion-card {
  border-radius: 10px;
  overflow: hidden;
}

ion-card img {
  height: 120px;
  object-fit: cover;
}

ion-card-content h3 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

// .popular-templates-section {
//   background-color: #ffffff;
//   padding: 20px;
// }

// .popular-templates-section h2 {
//   text-align: center;
//   font-size: 1.5rem;
//   margin-bottom: 10px;
// }

.cta-section {
  text-align: center;
  background: #007aff;
  color: white;
  padding: 40px 20px;
}

.cta-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cta-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-section ion-button {
  --background: #ff9500;
  --border-radius: 8px;
}

.popular-templates-section {
  background-color: #f4f5f8;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popular-templates-section h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #4a90e2;
  margin-bottom: 20px;
}

ion-slides {
  height: auto;
  padding: 10px 0;
}

.popular-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.popular-card:hover {
  transform: scale(1.05);
}

.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

ion-card-content {
  text-align: center;
  padding: 15px;
}

ion-card-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

ion-card-content p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

ion-card-content ion-button {
  --background: #007aff;
  --border-radius: 20px;
  --padding-start: 15px;
  --padding-end: 15px;
  --color: white;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
}
